* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#content {
  width: 100vw;
  height: 100vh;
  background-color: antiquewhite;
  display: grid;
  grid-template-rows: 50px 1fr;
}

#nav {
  background: black;
  display: grid;
  justify-content: center;
}

#navDiv {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, max-content);
  gap: 50px;
  align-items: center;
}

.navBtn {
  width: 125px;
  height: 25px;
  border-radius: 15px;
  border: none;
  background: gold;
}

#main {
  background: url(./japan.jpg);
  display: grid;
  grid-template-rows: max-content 1fr;
  justify-items: center;
  gap: 50px;
}

#headline, #copy {
  background: gold;
  height: 100px;
  width: 400px;
  border: 5px solid black;
  border-radius: 15px;
  display: grid;
  justify-content: center;
  align-items: center;
}

#headline {
  margin-top: 75px;
}

#copy {
  height: 400px;
  padding: 25px;
}
